* {
    margin: 0;
    padding: 0;
}

body {
    background-color: dodgerblue;
}

/* container */
.container {
    padding: 20px;
}

#paris,
img {
    width: 900px;
    height: 340px;
}

#sea,
img {
    height: 103px;
    transform: translateX(50px);
    border-radius: 20px;
    width: 130px;
}

#sky,
img {
    height: 170px;
    width: 300px;
    transform: translateX(160px);
}

.menus {
    background-color: darkblue;
    width: 200px;
    height: 370px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 5px;
}

li {
    margin-top: 10px;
    list-style: none;
    border-bottom: 1px solid rgb(118, 116, 116);
    color: darkgray;
    text-align: center;

}

.active {
    background-color: aliceblue;
    width: 120%;
    transform: translateX(-20px);
    text-align: center;
}

.social {
    text-align: center;
    margin-top: 40px;
    display: flex;
    padding: 0px 2px;
    gap: 20px;

}

.fa,
.tw,
.wha {
    text-transform: capitalize;
    color: white;
    padding: 2px;
    height: 20px;
    transform: translateX(-16px);
    background-color: rgba(21, 20, 54, 0.434);
}

.footer {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.center {
    text-align: center;
    font-weight: bolder;
    color: white;
}
span{
    color: whitesmoke;
}
.image{
    padding: 10px;
    gap: 30px;
}
.content{
    margin-left: 0px;
}
hr{
    margin-top: 20px;
    transform: translateX(100px);
    width: 700px;
}
.lorem,.lorem2{
    text-align: center;
    width: 800px;
    transform: translateX(300px);
}
h2{
    text-align: center;
    color: white;

}
.section1{
    padding: 10px;
}